---

---

<footer>
    <a href="https://bsky.app/profile/liam-pallett.bsky.social" target="_blank">Bluesky</a>
    <a href="https://github.com/liampallett" target="_blank">Github</a>
    <a href="https://www.linkedin.com/in/liam-pallett/" target="_blank">LinkedIn</a>
    <a href="https://www.reddit.com/user/liam_pallett/" target="_blank">Reddit</a>
</footer>

<style>
    footer {
        display: flex;
        justify-content: center;
        gap: 1.5em;
        padding-bottom: 1em;
    }

    @media screen and (max-width: 500px) {
        footer {
            gap: 1em;
        }
        a {
            font-size: 1em;
        }
    }
</style>