---

---

<header>
    <a href="/">Home</a>
    <a href="/projects">Projects</a>
    <a href="/blog">Blog</a>
</header>

<style>
    header {
        display: flex;
        justify-content: center;
        gap: 1.5em;
        padding-top: 1em;
    }

    @media screen and (max-width: 500px) {
        footer {
            gap: 1em;
        }
        a {
            font-size: 1em;
        }
    }
</style>