---

---

<header>
    <a href="/">Home</a>
    <a href="/projects">Projects</a>
    <a href="/blog">Blog</a>

    <div class="socials">
        <a href="https://bsky.app/profile/liam-pallett.bsky.social" target="_blank"><i class="fa-brands fa-bluesky"></i></a>
        <a href="https://github.com/liampallett" target="_blank"><i class="fa-brands fa-github"></i></a>
        <a href="https://www.linkedin.com/in/liam-pallett/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
        <a href="https://www.reddit.com/user/liam_pallett/" target="_blank"><i class="fa-brands fa-reddit-alien"></i></a>
    </div>
</header>

<style>
    header {
        display: flex;
        gap: 1.5em;
        padding: 2em 2em;
        background-color: var(--toxic-orange);
    }

    .socials {
        margin-left: auto;
        display: flex;
        gap: 1.5em;
    }

    @media screen and (max-width: 700px) {
        header {
            font-size: 1em;
        }

        .socials {
            display: none;
        }
    }

    a {
        font-size: 2.5em;
        color: var(--black-kite);
        

        text-decoration: none;
    }

    a:hover {
        color: var(--morning-snow);
        text-decoration: underline;
    }
</style>

<style is:global>
    :root {
        --header-height: 112.5px;
    }
</style>