---
const { title } = Astro.props;

import Header from "../components/header.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
        <Header></Header>
		<div class="content">
            <slot />
        </div>
	</body>
</html>

<style>
    body {
		color: var(--black-kite);
        background-color: var(--amazon-mist);
        margin: 0;
    }

    .content {
        max-width: 70%;
        margin-inline: auto;
        margin-top: 100px;
    }

    @media screen and (max-width:700px) {
        .content {
            max-width: 90%;
            margin-top: 50;
        }
    }
</style>

<style is:global>
    * {
        font-family: "Bitter", serif;
    }

    :root {
        --morning-snow: #f5f4ed;
        --amazon-mist: #edecdc;
        --aqua-mist: #a0c9cb;
        --toxic-orange: #ff6037;
        --black-kite: #351e1c;
        --garnet: #733635;
    }
    
</style>

<script src="https://kit.fontawesome.com/a92da80a5c.js" crossorigin="anonymous"></script>